<!--Navbar-->
<nav class="nav-extended white">
    <div class="nav-wrapper">
        <a href="{{ path("accueil") }}" class="brand-logo black-text left">MesPersos.com</a>
        <a class="right black-text linkNav" href="{{ path("personnages") }}">Personnages</a>
        <a class="right black-text linkNav" href="{{ path("armes") }}">Armes</a>
    </div>
</nav>
<!--/Navbar-->